<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>286879869888-tl5bo54j15l76np4hapd2q4hflllnku3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286879869888-tl5bo54j15l76np4hapd2q4hflllnku3</string>
	<key>API_KEY</key>
	<string>AIzaSyBcQHj5FlRi31TwqcY-EGqsfsseW-fWN_U</string>
	<key>GCM_SENDER_ID</key>
	<string>286879869888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rlykins.MunchMate</string>
	<key>PROJECT_ID</key>
	<string>munchmate-abb4c</string>
	<key>STORAGE_BUCKET</key>
	<string>munchmate-abb4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286879869888:ios:952d8932703e9489</string>
	<key>DATABASE_URL</key>
	<string>https://munchmate-abb4c.firebaseio.com</string>
</dict>
</plist>